<h1 style="text-align: center;"><span style="color: #ff0000;">Welcome to TheCloudCareers Registration 0.2 </span></h1>
<p><img style="display: block; margin-left: auto; margin-right: auto;" src="https://devops-cloudcareers.s3.ap-south-1.amazonaws.com/aws.jpg" alt="" width="1200" height="630" /></p>
<p>&nbsp;</p>
<h2 style="text-align: center;"><a href="student"><strong>Enter to Register </strong></a></h2>
<p>&nbsp;</p>
<p>&nbsp;</p>

